<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
        <!-- 注解扫描 -->
        <context:component-scan base-package="top.kinoko6.controller"></context:component-scan>
        <mvc:annotation-driven></mvc:annotation-driven>
        <!-- 静态资源 -->
        <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
        <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
        <mvc:resources location="/img/" mapping="/img/**"></mvc:resources>
         <mvc:resources location="/scss/" mapping="/scss/**"></mvc:resources>
         <mvc:resources location="/fonts/" mapping="/fonts/**"></mvc:resources> 
        <mvc:resources location="/upload/" mapping="/upload/**"></mvc:resources>
        <mvc:resources location="/style.css" mapping="/style.css"></mvc:resources>
        <mvc:resources location="/ckeditor/" mapping="/ckeditor/**"></mvc:resources>
        <!-- 文件上传 -->
         <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
         <!-- 视图解析 -->
		<bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/jsp/"></property>
			<property name="suffix" value=".jsp"></property>
		</bean>
		
		<!-- 拦截器 -->
		<mvc:interceptors>
				<mvc:interceptor>
						<mvc:mapping path="/**"/>
						<mvc:exclude-mapping path="/login.jsp"/>
						<mvc:exclude-mapping path="/mailverify"/>
						<mvc:exclude-mapping path="/register"/>
						<mvc:exclude-mapping path="/register.jsp"/>
						<mvc:exclude-mapping path="/login"/>
						<mvc:exclude-mapping path="/selectUniqueAdminNo"/>
						<mvc:exclude-mapping path="/**/fonts/*"/>
						<mvc:exclude-mapping path="/**/img/*"/>
				        <mvc:exclude-mapping path="/**/*.css"/>
				        <mvc:exclude-mapping path="/**/*.js"/>
				        <mvc:exclude-mapping path="/**/*.png"/>
				        <mvc:exclude-mapping path="/**/*.gif"/>
				        <mvc:exclude-mapping path="/**/*.jpg"/>
				        <mvc:exclude-mapping path="/**/*.jpeg"/>
						<bean class="top.kinoko6.interceptor.MasterInterceptor"></bean>				
				</mvc:interceptor>
		</mvc:interceptors>
</beans>